{% extends 'base.html' %}
{% load static %}
{% url 'home' as home_url %}
{% block content %}
        <!-- Quotes -->
            <div class="container-wrapper"> 
            <div class="container quotes-container content-container">
                <section class="quotes">
                    <div class="row">
                        <div class="col-12 page-header">
                            <h2 class="text-uppercase">Testimonials:</h2>
                            <hr class= "block-divider block-divider--short">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <div class="media">
                                <div class="media-body">
                                    <blockquote class="blockquote">
                                        <p>Colin is an excellent guide.</p>
                                        <footer class="blockquote-footer">Jane Doe on <cite title="Twitter">Twitter</cite></footer>
                                    </blockquote>
                                    <div class="d-none d-sm-block">
                                        <img src="{% static 'images/quote1.jpeg' %}" class="img-fluid rounded-circle mr-3">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="media">
                                <div class="media-body">
                                    <blockquote class="blockquote">
                                        <p>The trails were challenging but fun!</p>
                                        <footer class="blockquote-footer">Jane Doe on <cite title="Twitter">Twitter</cite></footer>
                                    </blockquote>
                                    <div class="d-none d-sm-block">
                                        <img src="{% static 'images/quote2.jpeg' %}" class="img-fluid rounded-circle mr-3">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="media">
                                <div class="media-body">
                                    <blockquote class="blockquote">
                                        <p>New achievements & new friends!</p>
                                        <footer class="blockquote-footer">Jane Doe on <cite title="Twitter">Twitter</cite></footer>
                                    </blockquote>
                                    <div class="d-none d-sm-block">
                                        <img src="{% static 'images/quote3.jpeg' %}" class="img-fluid rounded-circle mr-3">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            </div>
            <div class="container-wrapper container-wrapper--red">
                <div class="container features-container content-container">
                    <section class="features">
                        <div class="row">
                            <div class="col-12 page-header"> 
                                <h2 class="text-uppercase" >Adventures 2024:</h2>
                                <hr class = "block-divider block-divider--short block-divider--white"
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-4"> 
                                <div class="feature">
                                    <h3>A Weekend on Exmoor</h3>
                                        <p>Join a small group for a weekend of trail running along the North Devon coast and the steep valleys of Exmoor National Park. Hosted by Colin Kirk-Potter.</p>
                                        <p><a class="btn btn-sm btn-light" href="">Read More</a></p>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4"> 
                                <div class="feature">
                                    <h3>The Peak District</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                                         <p><a class="btn btn-sm btn-light" href="">Read More</a></p>
                                </div>
                            </div>
                            <div class="col-12 d-md-none d-lg-block col-lg-4"> 
                                <div class="feature">
                                    <h3>Brecon Beacons</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniamt.</p>
                                        <p><a class="btn btn-sm btn-light" href="">Read More</a></p>
                                </div>
                            </div>
                        </div
                    </section>
                    </div>
                    </div>
                    <br>
{% endblock content %}     
                <!-- Subscribe alert bar -->
                <!--
                <div class="alert alert-success" role="alert"><strong>Subscribe </strong>for news and offers!<a href="#" class="alert-link"> Click here</a>
                </div> -->