{% extends 'base.html' %}
{% load static %}
{% url 'home' as home_url %}
{% block content %}
        <!-- Quotes -->
            <div class="container-wrapper">
            <div class="container quotes-container content-container">
                <section class="quotes">
                    <div class="row">
                        <div class="col-12 page-header">
                            <h2 class="text-uppercase">Testimonials:</h2>
                            <hr class= "block-divider block-divider--short">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <div class="media">
                                <div class="media-body">
                                    <blockquote class="blockquote">
                                        <p>Colin is an excellent guide.</p>
                                        <footer class="blockquote-footer">Jane Doe on <cite title="Twitter">Twitter</cite></footer>
                                    </blockquote>
                                    <div class="d-none d-sm-block">
                                        <img src="{% static 'images/quote1.jpeg' %}" class="img-fluid rounded-circle mr-3" alt="Runners on a trail">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="media">
                                <div class="media-body">
                                    <blockquote class="blockquote">
                                        <p>The trails were challenging but fun!</p>
                                        <footer class="blockquote-footer">Jane Doe on <cite title="Twitter">Twitter</cite></footer>
                                    </blockquote>
                                    <div class="d-none d-sm-block">
                                        <img src="{% static 'images/quote2.jpeg' %}" class="img-fluid rounded-circle mr-3" alt="Runners in a group">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="media">
                                <div class="media-body">
                                    <blockquote class="blockquote">
                                        <p>New achievements & new friends!</p>
                                        <footer class="blockquote-footer">Jane Doe on <cite title="Twitter">Twitter</cite></footer>
                                    </blockquote>
                                    <div class="d-none d-sm-block">
                                        <img src="{% static 'images/quote3.jpeg' %}" class="img-fluid rounded-circle mr-3" alt="Runners laughing together">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            </div>
            <br>
            <div class="container-wrapper container-wrapper--red">
                <div class="container features-container content-container">
                    <section class="features">
                        <div class="row">
                            <div class="col-12 page-header"> 
                                <h2 class="text-uppercase" >Adventures 2024:</h2>
                                <hr class = "block-divider block-divider--short block-divider--white">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-4"> 
                                <div class="feature">
                                    <h3>A Weekend on Exmoor</h3>
                                        <p>Join a small group for a weekend of trail running along the North Devon coast and the steep valleys of Exmoor National Park. Hosted by Colin Kirk-Potter.</p>
                                        <p><a class="btn btn-sm btn-light" href="{% url 'about' %}">Find Out More</a></p>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4"> 
                                <div class="feature">
                                    <h3>The Peak District</h3>
                                        <p>Discover the rugged beauty of the Peak District on a guided weekend trail running holiday. Traverse rolling hills, scenic moorlands, and iconic limestone cliffs as you explore one of England’s most beloved national parks, all under the guidance of Colin Kirk-Potter. </p>
                                         <p><a class="btn btn-sm btn-light" href="{% url 'about' %}">Find Out More</a></p>
                                </div>
                            </div>
                            <div class="col-12 d-md-none d-lg-block col-lg-4"> 
                                <div class="feature">
                                    <h3>Brecon Beacons</h3>
                                        <p>Experience the wild beauty of Wales with a weekend of trail running in the Brecon Beacons National Park. Guided by Colin Kirk-Potter, this small-group adventure takes you across open moorlands, rugged peaks, and along breathtaking ridgelines with panoramic views. </p>
                                        <p><a class="btn btn-sm btn-light" href="{% url 'about' %}">Find Out More</a></p>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <br>
            {% if weather %}
                <div class="weather-info">
                    <h2>Current Weather in {{ weather.name }}, {{ weather.sys.country }}</h2>
                    <p>Temperature: {{ weather.main.temp }}°C</p>
                    <p>Description: {{ weather.weather.0.description }}</p>
                    <!-- Add the weather icon -->
                    <img src="http://openweathermap.org/img/wn/{{ weather.icon_code }}@2x.png" alt="{{ weather.weather.0.description }}">
                </div>
                {% else %}
                <p>Weather information not available.</p>
            {% endif %}
{% endblock content %}     
                <!-- Subscribe alert bar -->
                <!--
                <div class="alert alert-success" role="alert"><strong>Subscribe </strong>for news and offers!<a href="#" class="alert-link"> Click here</a>
                </div> -->