{% extends 'base.html' %}
{% load static %}
{% url 'home' as home_url %}
{% block content %}
        <!-- Quotes -->
            <div class="container-wrapper"> 
            <div class="container quotes-container content-container">
                <section class="quotes">
                    <div class="row">
                        <div class="col-12 page-header">
                            <h2 class="text-uppercase">Testimonials:</h2>
                            <hr class= "block-divider block-divider--short">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <div class="media">
                                <div class="media-body">
                                    <blockquote class="blockquote">
                                        <p>Colin is an excellent guide.</p>
                                        <footer class="blockquote-footer">Jane Doe on <cite title="Twitter">Twitter</cite></footer>
                                    </blockquote>
                                    <div class="d-none d-sm-block">
                                        <img src="images/quote2.jpeg" class="img-fluid rounded-circle mr-3">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="media">
                                <div class="media-body">
                                    <blockquote class="blockquote">
                                        <p>The trails were challenging but fun!</p>
                                        <footer class="blockquote-footer">Jane Doe on <cite title="Twitter">Twitter</cite></footer>
                                    </blockquote>
                                    <div class="d-none d-sm-block">
                                        <img src="images/quote1.jpeg" class="img-fluid rounded-circle mr-3">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="media">
                                <div class="media-body">
                                    <blockquote class="blockquote">
                                        <p>New achievements & new friends!</p>
                                        <footer class="blockquote-footer">Jane Doe on <cite title="Twitter">Twitter</cite></footer>
                                    </blockquote>
                                    <div class="d-none d-sm-block">
                                        <img src="images/quote3.jpeg" class="img-fluid rounded-circle mr-3">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            </div>
{% endblock content %}     
                <!-- Subscribe alert bar -->
                <!--
                <div class="alert alert-success" role="alert"><strong>Subscribe </strong>for news and offers!<a href="#" class="alert-link"> Click here</a>
                </div> -->